# Folders to ignore.
.vs/
_UpgradeReport_Files/
bin/
obj/
x86/
packages/

# File types to ignore.
*.suo
*.user
*.config

# Files to ignore.
Family Tree.ndoc
UpgradeLog.XML
keysync.xml
Family Tree Viewer/clsGedcomOptions.cs
Family Tree Viewer/clsMSWord.cs
Family Tree Viewer/clsRegistry.cs

